{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="css/home1.css">

{% endblock %}

{% block body %}

    <h1>TechForum</h1>
    {% if app.user %}
        <div class="mb-3">
            Welcome {{ app.user.username }}
        </div>
    {% endif %}

    <div class="main">
        <ul>
            <li><a href="{{ path('question') }}">Ask a question </a></li>

            <li><a href="{{ path('app_logout') }}">Logout</a></li>

        </ul>
    </div>


    <div class="info">
        <p>we want to connect the people who have knowledge to the people who need<br> it,
            to bring people together with different perspective so they can understand<br> each
            other, and to empower everyone to share their knowledge.</p>
    </div>

{% endblock %}